!doctype html
html
	head
	body
		table
			tr
				td#1
				td#2
				td#3
				td#4
			tr
				td#5
				td#6
				td#7
				td#8
			tr
				td#9
				td#10
				td#11
				td#12
			tr
				td#13
				td#14
				td#15
				td#16