!doctype html
html
	head
	body
		table
			tr
				td(id="1")
				td(id="2")
				td(id="3")
				td(id="4")
			tr
				td(id="5")
				td(id="6")
				td(id="7")
				td(id="8")
			tr
				td(id="9")
				td(id="10")
				td(id="11")
				td(id="12")
			tr
				td(id="13")
				td(id="14")
				td(id="15")
				td(id="16")